<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 left-side">
                    <p>Welcome to weather App</p>
                    <h1>Register Yourself and never miss the latest News</h1>
                    <p>This website links to the best example of player running
                         in a sport of 100 Meters event
                        and include famous players like Usain Bot Also!!!!
                    </p>
                    <h3>This the one time place of your knowledge</h>
                    <h1>SO COMMON & ENJOY</h1>
                    <form action="/login">
                    <button class="btn btn-default">LOGIN</button>
                    </form>
                </div>
                <div class="col-md-6 right-side">
  <h2>Players Registration Form</h2>
  <form action="/register" method="POST">
    <div class="form-group">
        <div class="row">
        <div class="col-md-6">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>
        <div class="col-md-6">
      <label for="phone">Phone No:</label>
      <input type="text" class="form-control" id="phone" placeholder="Enter Phone No:" name="phone">
        </div>
        </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" class="check-size" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default btn-primary">Submit</button>
  </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>